@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Header - Logo
	3.2 Header - Main Navigation
	3.3 Header - Search
	3.4 Header - Shopping
	3.5 Header - Burger
4. Home
5. Menu
6. Products
7. Sidebar Left
8. Sidebar Right
9. Newsletter
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_regular.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('truetype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2f2f2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{

}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.section_title_container
{

}
.section_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #937c6f;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title
{
	font-family: 'Lucida', serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #2f2f2f;
	margin-top: -4px;
}
.button
{
	width: 142px;
	height: 46px;
	background: #937c6f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #e0e3e4;
}
.button:hover a
{
	color: #232323;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	z-index: 100;
	padding-left: 60px;
	padding-right: 64px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	height: 80px;
}
.header_inner
{
	width: 100%;
	height: 100%;
}

/*********************************
3.1 Header - Logo
*********************************/

.logo a
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/

.main_nav
{
	padding-left: 252px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 50px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover
{
	color: #937c6f;
}

/*********************************
3.3 Header - Search
*********************************/

.search
{
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.search_input
{
	width: 100%;
	height: 43px;
	background: #f9f5f5;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_button
{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	width: 19px;
	height: 19px;
	background: transparent;
	border: none;
	outline: none;
}
.search_button:focus
{
	outline: none !important;
}
.search_button img
{
	max-width: 100%;
}

/*********************************
3.4 Header - Shopping
*********************************/

.shopping
{
	display: inline-block;
	margin-left: 111px;
	padding-right: 161px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.shopping a
{
	display: inline-block;
	margin-right: 10px;
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart_num_container,
.star_num_container
{
	position: absolute;
	top: 13px;
	left: -5px;
	width: 15px;
	height: 15px;
	background: #937c6f;
	border-radius: 50%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 9px;
	font-weight: 600;
	color: #FFFFFF;
}
.star img
{
	width: 20px;
	height: 20px;
}
.avatar img
{
	width: 20px;
	height: 20px;
}

/*********************************
3.5 Header - Burger
*********************************/

.burger_container
{
	position: absolute;
	top: calc(50% + 4px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 22px;
	height: 16px;
	cursor: pointer;
}
.burger_container div
{
	width: 100%;
	height: 2px;
	background: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	pointer-events: none;
}
.burger_container:hover div
{
	background: #937c6f;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_container
{
	width: 100%;
	height: 450px;
}
.home_content
{
	position: center;
	left: 0;
	right: 0;
	top: 62.4%;
}
.home_title
{
	font-family: 'Lucida', serif;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 0.75;
}
.breadcrumbs
{
	margin-top: 6px;
}
.breadcrumbs ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #FFFFFF;
}
.breadcrumbs ul li a
{
	font-family: 'Lucida', serif;
	font-size: 16px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs ul li::after
{
	display: inline-block;
	content: '/';
	margin-left: 6px;
}
.breadcrumbs ul li:last-child::after
{
	display: none;
}
.breadcrumbs ul li a:hover
{
	color: #937c6f;
}

/*********************************
5. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}
.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 11px;
}
.menu_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #937c6f;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}
/* Services
---------------------------------*/

.service-list{
	padding:0 0 0 0;
	font-size:16px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;
}
.main-section.alabaster{
	background: Brown;
}

/*********************************
7. About
*********************************/

.about
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 100px;
}
.about_content
{
	padding-top: 16px;
	padding-right: 10px;
}
.about_text
{
	margin-top: 55px;
}
.about_image
{
	width: 100%;
}
.about_image img
{
	max-width: 100%;
}
.milestones_row
{
	margin-top: 91px;
}
.milestone
{
	width: 100%;
}
.milestone_icon
{
	display: inline-block;
	height: 74px;
	width: 73px;
}
.milestone_icon img
{
	max-width: 100%;
}
.milestone_content
{
	padding-left: 22px;
}
.milestone_counter
{
	font-size: 30px;
	font-weight: 500;
	color: #282828;
	line-height: 0.75;
}
.milestone_text
{
	font-size: 18px;
	font-weight: 500;
	color: #828282;
	margin-top: 12px;
	line-height: 1.2;
}

/*********************************
8. Realtors
*********************************/

.realtors
{
	width: 100%;
	background: #f0f2f7;
	padding-top: 105px;
	padding-bottom: 74px;
}
.realtors_row
{
	margin-top: 63px;
}
.realtor
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	margin-bottom: 58px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.realtor_outer:hover .realtor
{
	box-shadow: 0px 13px 27px rgba(0,0,0,0.28);
}
.realtor_image
{
	width: 100%;
}
.realtor_image img
{
	max-width: 100%;
}
.realtor_body
{
	padding-top: 23px;
	padding-bottom: 41px;
	text-align: center;
}
.realtor_title
{
	font-size: 18px;
	font-weight: 600;
	color: #282828;
}
.realtor_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #828282;
	margin-top: -1px;
}
.realtor_link
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -29px;
	width: 46px;
	height: 57px;
	background: linear-gradient(to right, #c7ccd7, #c7ccd7);
	border-radius: 23px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.realtor_link a
{
	display: block;
	line-height: 57px;
	font-size: 30px;
	font-weight: 400;
	color: #FFFFFF;
}
.realtor_link_background_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	z-index: 1;
}
.realtor_link_background_container > div
{
	width: 100%;
	height: 100%;
}
.realtor_link_background
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -29px;
	width: 46px;
	height: 57px;
	background: #c7ccd7;
	border-radius: 23px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.realtor_outer:hover .realtor_link_background
{
	box-shadow: 0px 20px 21px rgba(0,0,0,0.25);
}
.realtor_outer:hover .realtor_link
{
	background: linear-gradient(to right, #487fee, #32fa95);
}

/*********************************
9. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	padding-left: 62px;
	padding-right: 62px;
}
.newsletter_content
{
	width: 100%;
	padding-top: 88px;
	padding-bottom: 94px;
}
.newsletter_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.newsletter .section_subtitle,
.newsletter .section_title
{
	color: #FFFFFF;
}
.newsletter_container
{
	margin-top: 75px;
}
.newsletter_input
{
	width: 100%;
	height: 46px;
	background: #FFFFFF;
	padding-left: 25px;
	border: none;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input:-ms-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b3b3b3 !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 142px;
	height: 46px;
	background: #937c6f;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button:hover
{
	background: #e0e3e4;
	color: #232323;
}
.newsletter_text
{
	font-size: 14px;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 19px;
}

/*********************************
10. Footer
*********************************/

.footer
{
	background-color: black;
	padding-top: 80px;
}
.footer_logo a
{
	font-family: 'Lucida', serif;
	font-size: 60px;
	color: white;
}
.footer_nav
{
	margin-top: 14px;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: white;
}
.footer_social
{
	margin-top: 51px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 36px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a i
{
	font-size: 24px;
	color: white;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #937c6f;
}
.copyright
{
	margin-top: 56px;
	padding-bottom: 13px;
	font-family: 'Lucida', serif;
	font-size: 12px;
	color: white;
}
